
{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% for babysitter in babysitters %}
				<div class="col s6 m4 l3">
					<div class="babysitter-card">
					<button class:"btn"> <a href=" {{ path('app_babysitter_show', {'id': babysitter.id}) }}">VOIR PROFIL</button>
						<img src="{{ asset('uploads/' ~ babysitter.picture) }}" class="responsive-img">
						<h5>{{ babysitter.firstname }} {{ babysitter.lastname }}</a></h5>
						<h6 class="location">{{ babysitter.location }}</h6> 
					</div>
					
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}