{% extends 'base.html.twig' %}

{% block title %}Afficher Babysitter{% endblock %}

{% block body %}
    <babysitter class="container">
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<div>
					<img width="300" src="{{ asset('uploads/' ~ babysitter.picture) }}" class="responsive-img">
				</div>
                <h4>{{ babysitter.firstname }} {{babysitter.lastname}}</h4>
                <h5>Location: {{ babysitter.location }} </h5>
				<h6 class="languages">Langues parlées: {% for language in babysitter.languages %} {{ language.name }}{{ loop.last ? '' : ',' }} {% endfor %}</h6>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<h6>Description:
					{{ babysitter.description }}
				</h6>
			</div> 
		</div>
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<a href="{{ path('app_contract_new') }}" class="btn btn-primary">Réserver</a>
			</div> 
		</div>
	</babysitter>
{% endblock %}
