{{ form_start(form, {'attr': {'class': 'row'}}) }}
    <div class="input-field col s6 m6 l6">
        {{ form_widget(form.label, {'attr':{'placeholder': 'Labelle'}}) }}
    </div>
    <div class="input-field col s6 m6 l6">
        {{ form_widget(form.name, {'attr':{'placeholder': 'Nom'}}) }} 
    </div>
    
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
