{% extends "base.html.twig" %}

{% block title %}Admin. | {{ parent() }}{% endblock %}

{% block body %}
{# <div class="container center">
    <h3>Babysitter</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Location</th>
                <th>Description</th>
                <th>IsAvailable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for babysitter in babysitters %}
            <tr>
                <td>{{ babysitter.id }}</td>
                <td>{{ babysitter.picture }}</td>
                <td>{{ babysitter.firstname }}</td>
                <td>{{ babysitter.lastname }}</td>
                <td>{{ babysitter.gender }}</td>
                <td>{{ babysitter.location }}</td>
                <td>{{ babysitter.description }}</td>
                <td>{{ babysitter.isAvailable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_babysitter_show', {'id': babysitter.id}) }}">show</a>
                    <a href="{{ path('app_babysitter_edit', {'id': babysitter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">pas encore des babysitters</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_babysitter_new') }}">Ajouter un nouveau</a>
</div> #}
<div class="admin-page">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a href="{{ path('app_babysitter_new') }}" class="btn btn blue darken-4" style="float: right">Ajouter</a>
                <h4>Babysitters</h4>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Prenom</th>
                        <th>Nom de famille</th>
                        <th>Location</th>
                        <th>Disponible</th>
                        <th>Actions</th>
                    </tr>
                    {% set i = 1 %}
                    {% for babysitter in babysitters %}
                        <tr>
                            <td>{{ i }}</td>
                            <td><a href="{{ path('app_babysitter_show', {'firstname': babysitter.firstname} {'lastname': babysitter.lastname} ) }}" target="_blank">{{ babysitter.firstname}}, {{ babysitter.lastname}}</a></td>
                            <td>
                                <span class="badge {{ babysitter.isAvailable ? 'blue' : 'red' }}">
                                    {{ babysitter.isAvailable ? 'oui' : 'non' }}
                                </span>
                            </td>
                            {# <td>{{ babysitter.isAvailable ? babysitter. |date('d/m/Y') : '-' }}</td> #}
                            {# <td>{{ article.lastUpdateDate|date('d/m/Y') }}</td> #}
                            <td>
                                <a href="{{ path('app_edit', {'id': babysitter.id }) }}"><i class="material-icons blue-text">modifier</i></a>
                                <a href="{{ path('app_remove', {'id': babysitter.id}) }}"><i class="material-icons red-text">effacer</i></a>
                            </td>
                        </tr>
                        {% set i = i+1 %}
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m-t-30">
                <h5>Utilisateurs</h5>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                    {% set i = 1 %}
                    {% for user in users %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                <span class="badge blue">
                                    admin.
                                </span>
                            </td>
                            <td>
                                <a href=""><i class="material-icons red-text">delete</i></a>
                            </td>
                        </tr>
                        {% set i = i+1 %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}