{% extends "base.html.twig" %}

{% block title %}Admin {% endblock %}

{% block body %}
<div class="admin-page">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a href="{{ path('app_babysitter_new') }}" class="btn btn blue darken-4" style="float: right">Ajouter</a>
                <h4>Babysitters</h4>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Prenom</th>
                        <th>Nom de famille</th>
                        <th>Location</th>
                        <th>Disponible</th>
                        <th>Actions</th>
                    </tr>
                    {% set i = 1 %}
                    {% for babysitter in babysitters %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ babysitter.firstname }}</td>
                            <td>{{ babysitter.lastname }}</td>
                            <td>{{ babysitter.location }}</td>
                            <td>
                                <span class="badge {{ babysitter.isAvailable ? 'blue' : 'red' }}">
                                    {{ babysitter.isAvailable ? 'Oui' : 'Non' }}
                                </span>               
                            <td>
                                <a href="{{ path('app_babysitter_edit', {'id': babysitter.id }) }}">Modifier |</a>
                                <a href="{{ path('app_babysitter_delete', {'id': babysitter.id}) }}">Effacer</a>
                            </td>
                        </tr>
                        {% set i = i+1 %}
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m-t-30">
                <h4>Utilisateurs</h4>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                    {% set i = 1 %}
                    {% for user in users %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                <span class="badge blue">
                                    admin
                                </span>
                            </td>
                            <td>
                                <a href=""><i class="material-icons red-text">delete</i></a>
                            </td>
                        </tr>
                        {% set i = i+1 %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}