{% extends 'base.html.twig' %}

{% block title %}Contract{% endblock %}

{% block body %}
 <div class="container">
		<div class="row">
            <h3>Contrats</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Heure début Contrat</th>
                <th>Heure fin Contrat</th>
                <th>Date début Contrat</th>
                <th>Date fin Contract</th>
                <th>  Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.hourStartContract ? contract.hourStartContract|date('H:i:s') : '' }}</td>
                <td>{{ contract.hourEndContract ? contract.hourEndContract|date('H:i:s') : '' }}</td>
                <td>{{ contract.dateStartContract ? contract.dateStartContract|date('d-m-Y ') : '' }}</td>
                <td>{{ contract.dateEndContract ? contract.dateEndContract|date('d-m-Y ') : '' }}</td>
                <td>
                    <a href="{{ path('app_contract_show', {'id': contract.id}) }}">Afficher |</a>
                    <a href="{{ path('app_contract_edit', {'id': contract.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas encore des contrats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_babysitter_index') }}">Ajouter un contrat </a>
{% endblock %}
