{% extends 'base.html.twig' %}

{% block title %}Afficher Contract{% endblock %}

{% block body %}
    <contract class="container">
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<div>
                    <h5><strong>Heure début: </strong>{{ contract.hourStartContract ? contract.hourStartContract|date('H:i:s') : '' }}   </h5>
                    <h5><strong>Date début: </strong>{{ contract.dateStartContract ? contract.dateStartContract|date('d-m-Y') : '' }}  </h5>
                    
                    <h5><strong>Heure fin: </strong>{{ contract.hourEndContract ? contract.hourEndContract|date('H:i:s') : '' }}   </h5>
                    <h5><strong>Date fin: </strong>{{ contract.dateEndContract ? contract.dateEndContract|date('d-m-Y') : '' }}  </h5>
                </div>
			</div>
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<h5>Avis:{{ contract.review }}</h5>
                <p>Date d'avis: {{ contract.reviewDate ? contract.reviewDate|date('Y-m-d H:i:s') : '' }} </p>
			</div> 
            
		</div>
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<a href="{{ path('app_contract_edit', {'id': contract.id}) }}" class="btn btn-primary">Modifier</a>
			</div>
            <div class="col s12 m12 l8 offset-l2">
				<a href="{{ path('app_contract_index') }}">Retour à la liste des contrats</a>
			</div>
		</div>
	</contract>
    
    {# {{ include('contract/_delete_form.html.twig') }} #}
{% endblock %}
